html {
  font-size: 16px;
  font-family: Arial, sans-serif;
}

body {
  header {
    background-color: $headerbackground;
    height: 15vh;
    display: flex;
    flex-direction: column-reverse;
    #menu {
      padding: 0px;
      margin: 0px;
      text-align: center;
      display: flex;
      justify-content: center;
    }
     p{
      border: 1px solid $pborder;
      width: 150px;
      background-color: $pbackground;
    }
    #menu p a {
      display: inline;
      color: $menupacolor;
      text-align: center;
      text-decoration:none;
    }
   #menu p a:hover {
      background: $menupabackground;
      color: $menupacolor;
      
    }
  }

  main {
      background-color: $mainbackgroundcolor;
      position: relative;
      height: 75vh;
    h1,
    h2 {
        font-size: 30px; 
       
      p {
          text-align:justify;
          color: $pcolor;
          padding: 50px;
          margin: 50px;
         
        }
    }
  }
  footer {
    position: relative;
    //background: #8a5ed6;
    background: $footerbackground;
    height: 10vh;
    display: flex;
    flex-direction: row-reverse;
    
    img{
        width: 40px;
        height: 40px;
        margin: 10px;
        
    }
  }
}
